.login{
    padding: 55px;
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;

        button{
            margin-top: 10px;
            cursor: pointer;
        }
    }
}